body {
	background: url("blur2.jpg");
	 background-repeat: no-repeat;
    background-size:cover;
	}





#FAQ{
	color: #0000ff;
   	 font-family: “Arial”;
    	font-size: 80px;
    	padding-top: 2cm
}

	h1 small {
	color: #cd6600;
	font-family: "Gill Sans";
	font-size: 24px;
	}
	#questions {
		font-weight:normal;
	}




li {
color: black;
font-family: "Gill Sans";
font-size: 25px;
}
#questions {
	font-weight:bold;
}


p {
color: black;
font-family: "Gill Sans";
font-size: 20px;*/
}
#questions {
	font-weight:normal;
}

a {
	color: #0000ff;
  		font-family: "Helvetica Neue";
    	font-size: 14px;
    	}



